@model IEnumerable<Inspinia_MVC5_SeedProject.Models.Fiscalization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Fiskalizacje</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Strona główna</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista fiskalizacji</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Dodaj", "Create", null, new { @class = "btn btn-primary btn-sm"})
					</div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dt-fiscalizations">
                            <thead>
                                <tr>
                                    <th>Lp</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer.Nip)
                                    </th>
                                    <th>
                                        Urząd Skarbowy
                                        @*@Html.DisplayNameFor(model => model.TaxOffice.Name)*@
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FiscalizationDate)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.RevievDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UseOfTheDeviceDate)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.City)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.OrderNumber)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Servisman)
                                    </th>
                                    <th style="text-align: center" width="120px">
                                        Opcje
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @(i += 1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.Nip)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaxOffice.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FiscalizationDate)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.RevievDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UseOfTheDeviceDate)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.OrderNumber)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Servisman)
                                    </td>
                                    <td align="center">
                                        @Html.ActionLink(" ", "GetReportPdf", "Fiscalizations", new { id = item.FiscalizationId }, new { @class = "btn btn-danger btn-sm fa fa-file-pdf-o", title = "Raporty" })
                                        @Html.ActionLink(" ", "Edit", new { id = item.FiscalizationId }, new { @class = "btn btn-success btn-sm fa fa-edit", title = "Edytuj" })
                                        <button class="btn btn-success btn-sm delete-group fa fa-trash" data-toggle="tooltip" title="Usuń" data-id="@item.FiscalizationId"></button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


<div class="modal fade" id="editor-container" tabindex="-1"
     role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content animated flipInY" id="editor-content-container"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js"></script>

    <script>
        function CallbackFunc(data, status, xhr) {
            $.validator.unobtrusive.parse($(data));
            $('#editor-content-container').html(xhr.responseText);
            $('#editor-container').modal('show');

            if (data.success) {
                window.location.href = data.url;
            }
        }

		$(document).ready(function () {

			$('.delete-group').click(function () {

				var url = "/Fiscalizations/Delete";
				var id = $(this).attr('data-id');
				$.get(url + '/' + id, function (data) {
					$('#editor-content-container').html(data);
					$('#editor-container').modal('show');
				});
			});

			$('.dt-fiscalizations').DataTable({
                pageLength: 25,
                autoWidth: true,
                stateSave: true,
                responsive: true,
				dom: '<"html5buttons"B>lTfgitp',
				aoColumnDefs: [{ orderable: false, aTargets: [7] }],
				buttons: [
					{ extend: 'copy' },
					{ extend: 'csv' },
                    { extend: 'excel', title: 'Lista fiskalizacji', orientation: 'landscape' },
                    { extend: 'pdf', title: 'Lista fiskalizacji', orientation: 'landscape' },
					{
						extend: 'print',
						customize: function (win) {
							$(win.document.body).addClass('white-bg');
							$(win.document.body).css('font-size', '10px');

							$(win.document.body).find('table')
									.addClass('compact')
									.css('font-size', 'inherit');
						}
					},
					{ extend: 'colvis' }
				],
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json",
					buttons: {
						colvis: 'Dostosuj kolumny'
					},
				}
			});
		});

    </script>
}


